Flask
openai
markdown
beautifulsoup4
tiktoken
lxml
Pillow
python-docx
werkzeug
python-dotenv
celery
redis
gevent
sqlalchemy
flask-login
supervisor
waitress
pymysql
cryptography
pandas
chromadb
torch
transformers
tree-sitter
tree-sitter-c
tree-sitter-cpp
tree-sitter-verilog
tree-sitter-vhdl
