<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>需求-代码一致性审查平台</title>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/js/thirdParty/highlight/default.min.css">
    <link rel="stylesheet" href="../static/js/thirdParty/katex/katex.min.css">
    <link rel="stylesheet" href="../static/js/thirdParty/element/index.css">
    <link rel="stylesheet" href="../static/js/thirdParty/element/index.iife.min.js">

    <script src="../static/js/thirdParty/vue.global.js"></script>
    <script src="../static/js/thirdParty/katex/katex.min.js"></script>
    <script src="../static/js/thirdParty/auto-render.min.js"></script>
    <script src="../static/js/thirdParty/axios.min.js"></script>
    <script src="../static/js/thirdParty/marked.min.js"></script>
    <script src="../static/js/thirdParty/highlight/highlight.min.js"></script>
    <script src="../static/js/thirdParty/element/index.full.js"></script>
    <script src="../static/js/thirdParty/element/icons-vue.js"></script>
</head>
<body>
<div id="app">
    <!-- 标头 -->
    <header>
        <img src="../static/assets/Web Development Lineart_Find code.png" alt="Platform Icon" class="header-icon">
        <h1 class="title">需求-代码一致性审查平台</h1>
        <button class="upload-button" @click="showUpload=true">
            <el-icon><Upload /></el-icon>
        </button>
    </header>
    
    <!-- 主体 展示+功能 -->
    <el-splitter>
        <!-- 需求文档展示区 -->
        <el-splitter-panel size="35%" :min="400">
            <el-col class="block" id="requirements">
                <div class="section-header">
                    <el-icon><Document /></el-icon>
                    需求文档         
                </div>
                <el-scrollbar height="89vh">
                    <div v-html="renderMarkdownWithLatex(requirementMarkdown)"></div>
                </el-scrollbar>
            </el-col>
        </el-splitter-panel>

        <!-- 代码展示区 -->
        <el-splitter-panel size="35%" :min="400">
            <el-col class="block" id="code" >
                <div class="section-header">
                    <el-icon><Tickets /></el-icon>
                    代码
                </div>
                <el-scrollbar height="89vh">
                    <el-collapse v-model="activeNames" @change="handleCodeSpanChange">
                        <el-collapse-item 
                            v-for="(file, index) in codeFiles" 
                            :key="index" 
                            :title="file.name" 
                            :name="index">
                            <pre><code class="language-cpp">${file.numberedContent}</code></pre>
                        </el-collapse-item>
                    </el-collapse>
                </el-scrollbar>
            </el-col>
        </el-splitter-panel>

        <!-- 功能区域 -->
        <el-splitter-panel :min="300">
            <el-tabs class="tab-card" type="border-card">
                <!-- 审查 -->
                <el-tab-pane label="一致性审查">
                    <el-scrollbar height="75vh">

                    </el-scrollbar>
                </el-tab-pane>

                <el-tab-pane label="需求生成">
                </el-tab-pane>
            </el-tabs>
        </el-splitter-panel>
    </el-splitter>

    <!-- 抽屉 打开文件 -->
    <el-drawer 
        class="upload-drawer"
        v-model="showUpload" 
        :with-header="false" 
        direction="rtl"
        size="25%"
    >
        <el-divider><el-icon><star-filled /></el-icon></el-divider>

        <div class="upload-center">
            <div class="upload-border">
                <el-upload
                    class="upload-demo"
                    action=""
                    :auto-upload="false"
                    :on-change="handleRequirementUploadChange"
                    :on-remove="handleRequirementRemove"
                    accept=".md"
                    :limit="1"
                    :on-exceed="handleRequirementExceed"
                >
                    <button class="upload-file-button">打开需求文档</button>
                    <template #tip>
                    <div class="el-upload__tip">
                        需求文档，支持Markdown格式(.md)
                    </div>
                    </template>
                </el-upload>
            </div>
            
            <div class="upload-border">
                <el-upload
                    class="upload-demo"
                    action=""
                    :auto-upload="false"
                    :on-change="handleUploadChange"
                    :on-remove="handleCodeFileRemove"
                    multiple
                    accept=".h,.c,.cpp"
                >
                    <button class="upload-file-button">打开代码文件</button>
                    <template #tip>
                    <div class="el-upload__tip">
                        代码文件，支持C/C++语言(.h, .c, .cpp)
                    </div>
                    </template>
                </el-upload>
            </div>
        </div>
    </el-drawer>
</div>

<script src="../static/js/app.js"></script>
</body>
</html>

