<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>需求-代码一致性审查平台</title>

    <link rel="stylesheet" href="../static/css/semi-automatic.css">
    <link rel="stylesheet" href="../static/js/thirdParty/highlight/default.min.css">
    <link rel="stylesheet" href="../static/js/thirdParty/highlight/styles/default.css">
    <link rel="stylesheet" href="../static/js/thirdParty/katex/katex.min.css">
    <link rel="stylesheet" href="../static/js/thirdParty/element/index.css">
    <link rel="stylesheet" href="../static/js/thirdParty/element/index.iife.min.js">

    <script src="../static/js/thirdParty/vue.global.js"></script>
    <script src="../static/js/thirdParty/element/index.full.js"></script>
    <script src="../static/js/thirdParty/element/icons-vue.js"></script>
    <script src="../static/js/thirdParty/katex/katex.min.js"></script>
    <script src="../static/js/thirdParty/auto-render.min.js"></script>
    <script src="../static/js/thirdParty/axios.min.js"></script>
    <script src="../static/js/thirdParty/marked.min.js"></script>
    <script src="../static/js/thirdParty/highlight/highlight.min.js"></script>
    <script src="../static/js/thirdParty/texmath.min.js"></script>
    <script src="../static/js/thirdParty/markdown-it.min.js"></script>
    <script>
        hljs.highlightAll(); // Initialize highlight.js
    </script>
</head>
<body>
<div id="app">
    <!-- 标头 -->
    <header>
        <img src="../static/assets/header-icon.png" alt="Platform Icon" class="header-icon">
        <h1 class="title">需求与代码一致性审查平台</h1>
        <button style="margin-right: 10px;" @click="exportRequirementPointsToJson">
            导出
        </button>
        <button style="margin-right:10px" @click="importRequirementPointsFromJson">
            导入
        </button>
        <button class="upload-button" @click="showUpload=true">
            <el-icon><Upload /></el-icon>
        </button>
    </header>
    
    <!-- 主体 展示+功能 -->
    <el-splitter>
        <!-- 需求文档展示区 -->
        <el-splitter-panel size="35%" :min="200">
            <el-col class="block" id="requirements">
                <div class="section-header" id="requirement-header" style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; align-items: center;">
                        <el-icon><Document /></el-icon>
                        <span style="margin-left: 8px;">需求文档</span>
                    </div>
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <el-button-group>
                            <el-button 
                            v-loading.fullscreen.lock="isAligning"
                            element-loading-text="正在对齐..."
                            plain 
                            size="small" 
                            @click="handleStartAlign">
                                开始对齐
                            </el-button>
                            <el-button 
                            plain 
                            size="small" 
                            @click="handleCancelAlign">
                                取消对齐
                            </el-button>
                        </el-button-group>
                    </div>
                </div>

                <el-scrollbar>
                    <div ref="requirementRoot" v-html="requirementHtml"></div>
                </el-scrollbar>
            </el-col>
        </el-splitter-panel>

        <!-- 代码展示区 -->
        <el-splitter-panel size="35%" :min="200">
            <el-col class="block" id="code">
                <div class="section-header" id="code-header" style=" justify-content: space-between; align-items: center;">
                    <div style="display: flex; align-items: center;">
                        <el-icon><Tickets /></el-icon>
                        <span style="margin-left: 8px;">代码</span>
                    </div>
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <el-button-group>
                            <el-button 
                                v-loading="isReviewing"
                                plain 
                                size="small" 
                                @click="handleStartReview"
                            >
                                开始审查
                            </el-button>
                            <el-button 
                                v-loading.fullscreen.lock="isGenerating"
                                element-loading-text="正在根据代码生成需求..."
                                plain size="small" 
                                @click="handleGenerateRequirement"
                            >
                                需求反生成
                            </el-button>
                        </el-button-group>
                        <el-button-group>
                            <el-button plain size="small" @click="handleAddAlign"><el-icon><Plus /></el-icon></el-button>
                            <el-button plain size="small" @click="handleCodeBlockRemove"><el-icon><Minus /></el-icon></el-button>
                            <el-button plain size="small" @click="handleLastButtonClick"><el-icon><Back /></el-icon></el-button>
                            <el-button plain size="small" @click="handleNextButtonClick"><el-icon><Right /></el-icon></el-button>
                        </el-button-group>
                    </div>
                </div>
                <el-scrollbar ref="codeScrollbarRef" id="code-scrollbar">
                    <el-collapse v-model="activeName" @change="handleCodeSpanChange" accordion>
                        <el-collapse-item 
                            v-for="(file, index) in codeFiles" 
                            :key="index" 
                            :title="`${file.name} ( ${file.resultCount || 0} 个结果 )`" 
                            :name= "`${file.name}`"
                        >
                            <pre v-html="file.highlightedContent"></pre>
                        </el-collapse-item>
                    </el-collapse>
                </el-scrollbar>
            </el-col>
        </el-splitter-panel>

        <!-- 结果展示区域 -->
        <el-splitter-panel :min="300">
            <el-tabs class="functionBlock" type="border-card">
                <!-- 审查 -->
                <el-tab-pane label="审查结果">
                    <div class="review-container" style="display: flex; flex-direction: column; height: 100%;">
                        <div style="display: flex; align-items: center; justify-content: space-between">
                            <div style="display: flex; align-items: flex-start; gap: 10px">
                                <el-popover
                                    class="box-item"
                                    title="分析过程"
                                    placement="left-start"
                                    trigger="click"
                                    :offset=23
                                    :width=350
                                >
                                    <template #default>
                                        <div style="max-height: 60vh; overflow: auto;" v-html="requirementPoints?.find(point => point.id === selectedRequirementId)?.reviewProcess || '暂无分析过程'"></div>
                                    </template>
                                    <template #reference>
                                        <el-button plain size="small">···</el-button>
                                    </template>
                                </el-popover>
                                <h4>问题单</h4>
                                <el-tag 
                                    v-if="selectedRequirementId && requirementPoints?.find(point => point.id === selectedRequirementId)?.state" 
                                    :type="{
                                        '未审查': 'info',
                                        '未导出': 'warning',
                                        '已导出': 'success'
                                    }[requirementPoints?.find(point => point.id === selectedRequirementId)?.state]">
                                    ${ requirementPoints?.find(point => point.id === selectedRequirementId)?.state }
                                </el-tag>
                            </div>

                            <el-button-group>
                                <el-button plain size="small" @click="toggleIssueEdit">
                                    ${ isEditingIssue ? '完成' : '编辑' }
                                </el-button>
                                <el-button plain size="small" @click="exportissues">
                                    导出
                                </el-button>
                            </el-button-group>
                        </div>
                        <div 
                            class="issue-content" 
                            :contenteditable="isEditingIssue"
                            style="white-space: pre-line;">
                            ${requirementPoints?.find(point => point.id === selectedRequirementId)?.issues || '暂无问题单'}
                        </div>
                    </div>
                </el-tab-pane>

                <!-- 需求生成 -->
                <el-tab-pane label="需求生成">
                    <div class="generate-container" style="display: flex; flex-direction: column; height: 100%;">
                        <!-- 上半部分：相关代码 -->
                        <h4>相关代码</h4>
                        <el-scrollbar id="related-code">
                            <div v-for="code in requirementPoints?.find(point => point.id === selectedRequirementId)?.relatedCode || []" 
                                 class="related-code-block">
                                <small style="color: gray">${ code.filename } (${ code.start } ~ ${ code.end } 行)</small>
                                <pre><code class="language-cpp" v-html="code.highlightedContent"></code></pre>
                            </div>
                        </el-scrollbar>

                        <!-- 下半部分：反生成的需求 -->
                        <h4>反生成的需求</h4>
                        <el-scrollbar id="generated-requirement">
                            <div v-html="requirementPoints?.find(point => point.id === selectedRequirementId)?.generatedRequirement || '暂无反生成需求'"></div>
                        </el-scrollbar>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </el-splitter-panel>
    </el-splitter>

    <!-- 抽屉 打开文件 -->
    <el-drawer 
        class="upload-drawer"
        v-model="showUpload" 
        :with-header="false" 
        direction="rtl"
        size="25%"
    >
        <el-divider><el-icon><star-filled /></el-icon></el-divider>

        <div class="upload-center">
            <div class="upload-border">
                <el-upload
                    class="upload-demo"
                    action=""
                    :auto-upload="false"
                    :on-change="handleRequirementUploadChange"
                    :on-remove="handleRequirementRemove"
                    accept=".md"
                    :limit="1"
                    :on-exceed="handleRequirementExceed"
                >
                    <button class="upload-file-button">打开需求文档</button>
                    <template #tip>
                    <div class="el-upload__tip">
                        需求文档，支持Markdown格式(.md)
                    </div>
                    </template>
                </el-upload>
            </div>
            
            <div class="upload-border">
                <el-upload
                    class="upload-demo"
                    action=""
                    :auto-upload="false"
                    :on-change="handleUploadChange"
                    :on-remove="handleCodeFileRemove"
                    multiple
                    accept=".h,.c,.cpp"
                >
                    <button class="upload-file-button">打开代码文件</button>
                    <template #tip>
                    <div class="el-upload__tip">
                        代码文件，支持C/C++语言(.h, .c, .cpp)
                    </div>
                    </template>
                </el-upload>
            </div>
        </div>
    </el-drawer>
</div>

<script src="../static/js/semi-automatic.js"></script>
</body>
</html>